doctype html
html(ng-app="infeed")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    title Infeed Magic
    link(href='http://fonts.googleapis.com/css?family=Satisfy', rel='stylesheet', type='text/css')
    if develop
      link(href="css/app.css", type="text/css", rel="stylesheet")
    else
      link(href="css/app-#{version}.min.css", type="text/css", rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  body(ng-controller="MainController")
    .header
      h1 Infeed Magic

    .content-wrapper
      div.article(
          ng-repeat="article in feed",
          ng-class='{"ad": article.ad, "expanded": article.expanded}',
          class="article-container",
          stop-anchor-tag-click-bubble=""
        )
        span(ng-show="article.ad").ad-label ANNONS
        span.close-article-btn.fa.fa-times(ng-show="article.expanded", ng-click="article.expanded = !article.expanded")
        img(class="article-image", ng-src="{{getListingImage(article)}}", ng-click="article.expanded = !article.expanded")
        h2(ng-bind-html="getHTML(article.headline)", ng-click="article.expanded = !article.expanded")
        p.article-preamble(ng-bind-html="getHTML(article.preamble)")
        div.article-body
          div(ng-bind-html="getHTML(article.bodyText)")

          div.sharing
            h3 Dela:
            a(href="#").social.fa.fa-facebook=" FB"
            a(href="#").social.fa.fa-twitter=" Twitter"
            a(href="#").social.fa.fa-whatsapp=" WhatsApp"

          div.authors
            div.author(ng-repeat="author in article.authors")
              span.author-image(ng-if="author.image")
                img(ng-src="{{author.image.versions[0].url}}")
              span.author-contact
                h3.author-name {{author.name}}
                p
                  i {{author.email}}


        div.expand-button(ng-click="article.expanded = !article.expanded", on-close-scroll-to="")
          i.fa.fa-angle-down(ng-hide="article.expanded")
          i.fa.fa-angle-up(ng-show="article.expanded")

    if develop
      each jsFile in jsLibFiles
        script(src="js/#{jsFile}")

    each jsFile in jsFiles
      script(src="js/#{jsFile}")

    if develop
      script(src="//localhost:9001/livereload.js")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
